<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel='stylesheet' href="./../css/reset.css">
    <link type="text/css" rel='stylesheet' href="./../css/main.css">
    <!--bmob 云存储js，放在头里面后面的js才能直接用-->
    <script src='./../js/bmob_plugin/bmob-min.js'></script>
    <!--引入underscore.js-->
    <script src='./../js/underscore/underscore-min.js'></script>
    <script src="http://code.jquery.com/jquery-2.1.1.js" integrity="sha256-FA/0OOqu3gRvHOuidXnRbcmAWVcJORhz+pv3TX2+U6w=" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--网页banner-->
<div class="banner">
    <div class="commonWidth">
        <div class="logo">
            <img src="./../static/image/logo.png" alt="logoPic">
        </div>
        <div class="platformTitle">
            错误记录平台
        </div>
        <div class="bannerButton">
            <a href="#" class="loginButton" id="goback">返回主页</a>
        </div>
        <!--登录后名字显示-->
        <div class="loginedName">

        </div>

    </div>
</div>

<!--网页主体部分，banner下面-->
<div class="commonWidth clearfix">
    <!--配置区域总标题 -->
    <div class="content_setting">
        <!--标题区域 -->
        <div class="setting_title">
            <div class="title_left">
                <div class="title_left_img">
                    <img src="./../static/image/setting.png">
                </div>
                <div class="setting_title_left_description">
                    添加以及删除用户(单击用户标签即可删除),操作完成记得点击保存
                </div>
                <!--保存按钮-->
                <div class="save_config">
                    <button type="button" class="btn btn-success btn-lg" id="save_user">保存用户</button>
                </div>
            </div>
        </div>
    </div>

    <!--添加用户-->
    <div class="setting_item">
        <div class="content_title">
            <div class="title_left">
                <div class="title_left_img">
                    <img src="./../static/image/adduser.png">
                </div>
                <div class="title_left_description">

                </div>
                <!--确认按钮-->
                <button type="button" class="btn btn-warning name_input_button" id="user_input_button">添加用户</button>
                <!--输入框-->
                <div class="name_input">
                    <div class="btn-group" id="usertype">
                        <button type="button" class="btn btn-default btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            &nbsp;&nbsp;&nbsp;&nbsp;用户类型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ><a id="normal">普通用户</a></li>
                            <li ><a id="admin_second">二级管理员</a></li>
                        </ul>
                    </div>
                </div>
                <div class="name_input">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="输入用户密码~" id="password_input">
                    </div>
                </div>
                <div class="name_input">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="输入用户名~" id="username_input">
                    </div>
                </div>

            </div>
        </div>
        <!--具体条目-->
        <div class="adduser_setting clearfix">
            <!--存放具体用户条目-->
            <ul id="user_ul">
            </ul>
        </div>
    </div>
</div>


<!--模态框 md-show类显示-->
<div class="md-modal modal-msg md-modal-transition " id="modal_login">
    <div class="md-modal-inner">
        <div class="md-top">
            <div class="md-title">管理员登录</div>
            <button class="md-close" >关闭</button>
        </div>
        <div class="md-content">
            <div class="confirm-tips">
                <div class="error-wrap">
                    <span class="error " id="errorTip">用户名或者密码错误</span>
                </div>
                <ul>
                    <li class="regi_form_input">
                        <i class="icon IconPeople"></i>
                        <input type="text" tabindex="1" name="loginname"  class="regi_login_input">
                    </li>
                    <li class="regi_form_input noMargin">
                        <i class="icon IconPwd"></i>
                        <input type="password" tabindex="2" name="password"  class="regi_login_input" >
                    </li>
                </ul>
            </div>
            <div class="login-wrap">
                <a href="javascript:;" class="btn-login" >登录</a>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="copyright">
        Copyright@houzisbw | 京ICP备12345678号
    </div>
</div>

<script src="./../js/addUser.js"></script>

</body>
</html>