<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图表统计</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="./../static/css/boostrap.css" >
    <link type="text/css" rel='stylesheet' href="./../static/css/reset.css">
    <link type="text/css" rel='stylesheet' href="./../static/css/main.css">
</head>
<body>
<!--网页banner-->
<div class="banner">
    <div class="commonWidth">
        <div class="logo">
            <img src="./../static/image/logo.png" alt="logoPic">
        </div>
        <div class="platformTitle">
            成都.生研所-FP错误记录平台
        </div>
        <div class="bannerButton">
            <a href="#" class="loginButton" id="goback">返回主页</a>
        </div>
        <!--登录后名字显示-->
        <div class="loginedName">
        </div>
    </div>
</div>

<!--网页主体部分，banner下面-->
<div class="commonWidth clearfix">
    <!--配置区域总标题 -->
    <div class="content_setting">
        <!--标题区域 -->
        <div class="setting_title">
            <div class="title_left">
                <div class="title_left_img">
                    <img src="./../static/image/statistics.png">
                </div>
                <div class="setting_title_left_description">
                    查看本组所有员工月度错误记录频率统计详情
                </div>
            </div>
        </div>
    </div>


    <div class="setting_item">
        <div class="content_title">
            <div class="title_left">
                <div class="title_left_img">
                    <img src="./../static/image/statistics2.png">
                </div>
                <div class="title_left_description">
                    本组所有员工当月错误记录频率柱状图
                </div>
                <!--查询按钮-->
                <button type="button" class="btn btn-warning name_input_button" id="graph_search_button">查询记录</button>
                <div class="name_input">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="输入月份~" id="month_input">
                    </div>
                </div>
                <div class="name_input">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="输入年份~" id="year_input">
                    </div>
                </div>
            </div>
        </div>
        <!--具体条目-->
        <div class="adduser_setting clearfix">
            <!--图表标题-->
            <div class="graph_title">
            </div>
            <div class="bar_graph">
            </div>
        </div>
    </div>
    <!--任务分配模块-->
    <div class="setting_item">
        <div class="content_title">
            <div class="title_left">
                <div class="title_left_img">
                    <img src="./../static/image/statistics2.png">
                </div>
                <div class="title_left_description">
                    任务分配系统
                </div>
            </div>
        </div>
        <!--具体条目-->
        <div class="adduser_setting clearfix padding-bottom-task">
            <!--添加任务-->
            <div class="bar_graph">
                <div class="panel panel-default panel-bottom-margin">
                    <div class="panel-heading task-panel-heading">
                        <h3 class="panel-title task-panel-inline">第一步: 添加任务种类</h3>
                        <button type="button" class="btn btn-warning task-input-btn" id="task-input-add">添加</button>
                        <div class="task-name-input">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="输入任务~" id="task-input">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body panel-body-min-height" id="add-task-panel">
                    </div>
                </div>
                <!--先决条件-->
                <div class="panel panel-default ">
                    <div class="panel-heading task-panel-heading">
                        <h3 class="panel-title task-panel-inline">第二步: 添加任务顺序关系(先 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 后)</h3>
                        <button type="button" class="btn btn-warning task-input-btn" id="task-input-add-pre">添加</button>
                        <div class="btn-group pre-btn-fr" >
                            <button type="button" class="btn btn-default dropdown-toggle "
                                    id="pre-second"
                                    data-toggle="dropdown">
                                &nbsp;&nbsp;&nbsp;&nbsp;下拉选择&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="after-ul">
                            </ul>
                        </div>
                        <span class="pre-task-title">
                            <h3 class="panel-title task-panel-inline">后置任务:</h3>
                        </span>
                        <div class="btn-group pre-btn-fr" >
                            <button type="button" class="btn btn-default dropdown-toggle "
                                    id="pre-first"
                                    data-toggle="dropdown">
                                &nbsp;&nbsp;&nbsp;&nbsp;下拉选择&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="pre-ul">
                            </ul>
                        </div>
                        <span class="pre-task-title">
                            <h3 class="panel-title task-panel-inline">前置任务:</h3>
                        </span>
                    </div>
                    <div class="panel-body panel-body-min-height" id="add-task-panel-pre">
                    </div>
                </div>
                <!--生成方案的按钮-->
                <div class="generate-scheme-wrapper">
                    <button type="button" class="btn btn-primary btn-lg" id="generate-scheme">生成任务方案</button>
                </div>
                <!--方案结果的textarea-->
                <div class="panel panel-default panel-bottom-margin">
                    <div class="panel-heading task-panel-heading">
                        <h3 class="panel-title task-panel-inline">任务方案结果(任务执行先后顺序)</h3>
                    </div>
                    <div class="panel-body panel-body-min-height" id="task-result">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--遮罩层-->
<div class="overlay">
    <img src="" id="recordImage">
</div>

<!--模态框 md-show类显示-->
<div class="md-modal modal-msg md-modal-transition " id="modal_login">
    <div class="md-modal-inner">
        <div class="md-top">
            <div class="md-title">管理员登录</div>
            <button class="md-close" >关闭</button>
        </div>
        <div class="md-content">
            <div class="confirm-tips">
                <div class="error-wrap">
                    <span class="error " id="errorTip">用户名或者密码错误</span>
                </div>
                <ul>
                    <li class="regi_form_input">
                        <i class="icon IconPeople"></i>
                        <input type="text" tabindex="1" name="loginname"  class="regi_login_input">
                    </li>
                    <li class="regi_form_input noMargin">
                        <i class="icon IconPwd"></i>
                        <input type="password" tabindex="2" name="password"  class="regi_login_input" >
                    </li>
                </ul>
            </div>
            <div class="login-wrap">
                <a href="javascript:;" class="btn-login" >登录</a>
            </div>
        </div>
    </div>
</div>

<!--模态框:确认操作-->
<div class="md-modal modal-msg md-modal-transition md-show " id="modal_confirm_only">
    <div class="md-modal-inner modal-round-corner md-only-confirm">
        <!--title内容动态变化-->
        <div class="modal-title"></div>
        <div class="md-content">
            <div class="login-wrap login_wrap_width ">
                <a href="javascript:;" class="btn-login modal-confirm-button" id="modal-confirm-button-only">确定</a>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="copyright">
        Copyright@houzisbw | 京ICP备12345678号
    </div>
</div>

<!--util.js-->
<script src="./../util/util.js"></script>
<!--bmob 云存储js，放在头里面后面的js才能直接用-->
<script src='./../util/bmob-min.js'></script>
<!--引入underscore.js-->
<script src='./../util/underscore-min.js'></script>
<script src="./../util/jquery-2.1.1.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--引入echarts-->
<script src="./../util/echarts.min.js"></script>
<script src="./../static/js/graph.js"></script>

</body>
</html>